@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url(../assets/font/IBMPlexSansKR-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* global color */
:root {
  --font-black-color: #101010;
  --light-gray-color: #f6f6f6;
  --dark-gray-color: rgb(186, 191, 196);
  --dark-font-color: rgb(106, 115, 124);
  --black-025: hsl(210, 8%, 97.5%);
  --black-050: hsl(210, 8%, 95%);
  --black-075: hsl(210, 8%, 90%);
  --black-100: hsl(210, 8%, 85%);
  --black-200: hsl(210, 8%, 75%);
  --black-600: hsl(210, 8%, 35%);
  --blue-050: hsl(206, 100%, 97%);
  --blue-100: hsl(206, 96%, 90%);
  --blue-300: hsl(206, 90%, 69.5%);
  --blue-400: hsl(206, 85%, 57.5%);
  --blue-500: hsl(206, 100%, 52%);
  --blue-600: hsl(206, 100%, 40%);
  --powder-050: hsl(205, 47%, 97%);
  --powder-100: hsl(205, 46%, 92%);
  --powder-200: hsl(205, 53%, 88%);
  --powder-300: hsl(205, 57%, 81%);
  --powder-400: hsl(205, 56%, 76%);
  --powder-500: hsl(205, 41%, 63%);
  --powder-600: hsl(205, 36%, 53%);
  --powder-700: hsl(205, 47%, 42%);
  --orange-400: hsl(27, 90%, 55%);
  --warning-color: rgb(208, 57, 62);
  --background-color: hsl(210, 8%, 95%);
}

/* reset css */

* {
  font-family: "IBMPlexSansKR-Regular", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-black-color);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 a {
  color: var(--font-black-color);
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
 a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
